@keyframes forwardEffect {
   0%,
   100% {
      transform: translateX(0);
   }
   10% {
      transform: translateX(10px);
   }
   20% {
      transform: translateX(0);
   }
   30% {
      transform: translateX(10px);
   }
   40% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(0);
   }
}

.forward__container {
   position: absolute;
   width: fit-content;
   height: fit-content;
   bottom: 1.5rem;
   right: 1.5rem;
   color: #202020;
   opacity: 0;
   animation: fadeIn 1s 4s ease-in-out forwards;
}

.forward__img--wrapper {
   position: relative;
   width: fit-content;
   height: fit-content;
   display: flex;
   align-items: center;
   &::before {
      content: attr(data-text);
      position: absolute;
      right: 2.5rem;
      color: #202020;
      opacity: 0;
      transition: opacity 0.3s;
      pointer-events: none;
      font-size: .7rem;
   }
}

.forward__img--wrapper:hover::before {
   opacity: 1;
}

.forward__img {
   width: 25px;
   height: 25px;
   cursor: pointer;
   animation: forwardEffect 2s 5s ease-in-out forwards;
}

@media (min-width: 360px) {

   .forward__img--wrapper {
      &::before {
         right: 3rem;
         font-size: .8rem;
      }
   }
   
   .forward__img--wrapper:hover::before {
      opacity: 1;
   }
   
   .forward__img {
      width: 34px;
      height: 34px;
   }
}

@media (min-width: 1366px) {

   .forward__img--wrapper {
      &::before {
         right: 4.5rem;
      }
   }
   
   .forward__img--wrapper:hover::before {
      opacity: 1;
   }
   
   .forward__img {
      width: 48px;
      height: 48px;
   }
}