@keyframes coreEffectA {
   from {
      transform: scale(1);
   }

   to {
      transform: scale(0.05);
      box-shadow: 0 0 100px 250px #ffffff;
   }
}

@keyframes coreEffectB {
   from {
      background: #202020;
   }

   to {
      background: #ad291a;
   }
}

@keyframes explosionEffect {
   0% {
      transform: scale(0);
      opacity: 1;
      box-shadow: 0 0 0 0 rgba(231, 76, 60, 0.4);
   }

   100% {
      transform: scale(1.5);
      opacity: 0;
      box-shadow: 0 0 80px 40px rgba(231, 76, 60, 0);
   }
}

@keyframes bangTitle {
   0% {
      transform: translateY(0);
   }

   50% {
      transform: translateY(0);
   }

   100% {
      transform: translateY(-25dvh);
      opacity: 1;
   }
}

.bangMinutes__container {
   width: 100dvw;
   height: 100dvh;
   background-color: #e6e6e6;
   display: flex;
   justify-content: center;
   align-items: center;
}

.bangMinutes__title {
   position: absolute;
   font-weight: 400;
   color: #202020;
   animation: bangTitle 1s 0.5s ease-out forwards;
   opacity: 0;
   font-size: 21px;
   bottom: 13rem;
}

.bangMinutes__subcontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 2rem;
   animation: fadeIn 1s 2s ease-out forwards;
   opacity: 0;
}

.bangMinutes__core {
   position: absolute;
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   background: #202020;
   z-index: 1;
   animation: coreEffectA 1.8s 2s linear forwards, coreEffectB 1s 2.8s linear;
}

.bangMinutes__core--explosion {
   position: absolute;
   width: 10rem;
   height: 10rem;
   border-radius: 50%;
   background: radial-gradient(circle,
         rgba(140, 20, 15, 0.6) 10%,
         rgba(231, 76, 60, 0.8) 40%);
   z-index: 0;
   opacity: 0;
   animation: explosionEffect 1s 3.8s cubic-bezier(0, 0, 0, 1) forwards;
}

canvas {
   position: absolute;
   z-index: 0;
   scale: .6;
}

.bangMinutes__textA,
.bangMinutes__textB {
   font-weight: 450;
   color: #717171;
   opacity: 0;
   position: absolute;
   font-size: 13px;
   overflow-y: scroll;
}

.bangMinutes__text,
span {
   color: #e74c3c;
}

.bangMinutes__textA {
   animation: textAnimationA 1s 2.5s ease-out forwards;
   height: 55px;
   left: 96%;
   top: 230px;
   width: 75%;
}

.bangMinutes__textB {
   animation: textAnimationB 1s 2.5s ease-out forwards;
   right: 99%;
   top: 206px;
   width: 70%;
   height: 70px;
}

@media (min-width: 360px) {
   .bangMinutes__title {
      font-size: 25px;
      bottom: 18rem;
   }

   .bangMinutes__subcontainer {
      top: 2.8rem;
   }

   .bangMinutes__core {
      width: 6.25rem;
      height: 6.25rem;
   }

   .bangMinutes__core--explosion {
      width: 12rem;
      height: 12rem;
   }

   canvas {
      scale: .85;
   }

   .bangMinutes__textA,
   .bangMinutes__textB {
      font-size: 14px;
   }

   .bangMinutes__textA {
      animation: textAnimationA 1s 2.5s ease-out forwards;
      height: 80px;
      left: 85%;
      top: 275px;
      width: 80%;
   }

   .bangMinutes__textB {
      animation: textAnimationB 1s 2.5s ease-out forwards;
      right: 82%;
      top: 305px;
      width: 80%;
      height: 80px;
   }
}

@media (min-width: 400px) {
   .bangMinutes__title {
      font-size: 26px;
      bottom: 21rem;
   }

   .bangMinutes__subcontainer {
      top: 2.8rem;
   }

   .bangMinutes__core {
      width: 6.5rem;
      height: 6.5rem;
   }

   .bangMinutes__core--explosion {
      width: 13rem;
      height: 13rem;
   }

   canvas {
      scale: .8;
   }

   .bangMinutes__textA,
   .bangMinutes__textB {
      font-size: 15px;
   }

   .bangMinutes__textA {
      left: 74%;
      top: 304px;
   }

   .bangMinutes__textB {
      right: 73%;
      top: 365px;
   }
}

@media (min-width: 400px) and (min-height: 700px) {
   .bangMinutes__title {
      bottom: 55%;
      font-size: 27px;
   }

   .bangMinutes__textA {
      left: 74%;
      top: 304px;
      height: 105px;
   }

   .bangMinutes__textB {
      right: 73%;
      top: 450px;
      height: 105px;
   }
}

@media (min-width: 480px) {
   .bangMinutes__textA {
      left: 65%;
   }

   .bangMinutes__textB {
      right: 65%;
   }
}

@media (orientation: landscape) and (min-height: 320px) {

   .bangMinutes__title {
      font-size: 18px;
      bottom: 9.5rem;
   }
   .bangMinutes__textA,
   .bangMinutes__textB {
      font-size: 14px;
      width: 150px;
      height: 60px;
   }
   .bangMinutes__textA {
      top: 212.5px;
      left: 67%;
   }
   
   .bangMinutes__textB {
      top: 125px;
      right: 67%;
   }

   .bangMinutes__core--explosion {
      width: 10rem;
      height: 10rem;
   }

   .bangMinutes__core {
      width: 3rem;
      height: 3rem;
   }
   canvas {
      scale: .6;
   }
}

@media (orientation: landscape) and (min-height: 360px) {

   .bangMinutes__title {
      font-size: 20px;
      bottom: 10.5rem;
   }
   .bangMinutes__textA,
   .bangMinutes__textB {
      font-size: 14px;
      width: 175px;
      height: 80px;
   }
   .bangMinutes__textA {
      top: 230px;
      left: 50%;
   }
   
   .bangMinutes__textB {
      top: 135px;
      right: 50%;
   }

   .bangMinutes__core--explosion {
      width: 10rem;
      height: 10rem;
   }

   .bangMinutes__core {
      width: 4rem;
      height: 4rem;
   }
   canvas {
      scale: .7;
   }
}


@media (orientation: landscape) and (min-height: 400px) {

   .bangMinutes__title {
      font-size: 23px;
      bottom: 12rem;
   }
   .bangMinutes__textA,
   .bangMinutes__textB {
      font-size: 15px;
      width: 205px;
      height: 80px;
   }
   .bangMinutes__textA {
      top: 240px;
      left: 20rem;
   }
   
   .bangMinutes__textB {
      top: 175px;
      right: 20rem;
   }

   .bangMinutes__core--explosion {
      width: 10rem;
      height: 10rem;
   }

   .bangMinutes__core {
      width: 4rem;
      height: 4rem;
   }
   canvas {
      scale: .8;
   }
}

@media (orientation: landscape) and (min-height: 480px) {

   .bangMinutes__title {
      font-size: 24px;
      bottom: 14rem;
   }
   .bangMinutes__textA,
   .bangMinutes__textB {
      font-size: 15px;
      width: 220px;
   }
   .bangMinutes__textA {
      top: 285px;
      left: 20rem;
   }
   
   .bangMinutes__textB {
      top: 195px;
      right: 20rem;
   }

   .bangMinutes__core--explosion {
      width: 10rem;
      height: 10rem;
   }

   .bangMinutes__core {
      width: 4rem;
      height: 4rem;
   }
   canvas {
      scale: .9;
   }
}

@media (min-width: 768px) {

   .bangMinutes__title {
      font-size: 30px;
      bottom: 55%;
   }

   .bangMinutes__textA {
      left: 45%;
      top: 365px;
   }

   .bangMinutes__textB {
      right: 44%;
      top: 655px;
   }

   .bangMinutes__core--explosion {
      width: 18rem;
      height: 18rem;
   }
}

@media (min-width: 1024px) {
   .bangMinutes__textA {
      width: 350px;
      left: 28%;
      top: 315px;
   }

   .bangMinutes__textB {
      width: 350px;
      right: 28%;
      top: 350px;
   }
}

@media (min-width: 1200px) {
   .bangMinutes__title {
      font-size: 30px;
   }

   .bangMinutes__textA {
      top: 305px;
      height: 170px;
   }

   .bangMinutes__textB {
      top: 330px;
      height: 170px;
   }

   .bangMinutes__core--explosion {
      width: 20rem;
      height: 20rem;
   }
}

@media (min-width: 1366px) {

   .bangMinutes__core--explosion {
      width: 25rem;
      height: 25rem;
   }

   .bangMinutes__textA {
      top: 305px;
   }
   
   .bangMinutes__textB {
      top: 280px;
   }
}

@media (min-width: 1440px) {

   .bangMinutes__title {
      font-size: 32px;
   }

   .bangMinutes__textA {
      top: 350px;
      font-size: 1.05rem;
      height: 160px;
   }
   
   .bangMinutes__textB {
      top: 410px;
      font-size: 1.05rem;
      height: 160px;
   }
}

