@keyframes ringRotate {
   0% {
      opacity: 0;
      transform: rotate(0deg);
   }
   50% {
      opacity: 1;
      transform: rotate(180deg);
   }
   100% {
      opacity: 0;
      transform: rotate(360deg);
   }
}

@keyframes dataTitle {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-10dvh);
      opacity: 1;
   }
}

.userData__container {
   width: 100dvw;
   height: 100dvh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #e6e6e6;
}

.userData__subcontainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   width: 100%;
}

.userData__container--ring {
   width: 300px;
   height: 300px;
   border: 5px solid rgba(255, 255, 255, 0.5);
   border-radius: 50%;
   position: absolute;
}

.userData__container--secondRing,
.userData__container--thirdRing {
   width: 300px;
   height: 300px;
   border: 5px solid rgba(255, 255, 255, 0.5);
   border-radius: 50%;
   position: absolute;
   opacity: 0;
   transition: opacity 0.2s;
   background: conic-gradient(
      transparent 0deg 225deg,
      rgba(9, 0, 166, 0.9) 220deg 240deg,
      transparent 250deg 360deg
   );
   mask: radial-gradient(circle, transparent 68%, black 50.5%);
   z-index: 1;
}

.ringAnimation {
   animation: ringRotate 1000ms linear;
}

.ringAnimation--reverse {
   animation: ringRotate 1000ms linear reverse;
}


.userData__title {
   position: absolute;
   width: fit-content;
   font-weight: 400;
   color: #202020;
   animation: dataTitle 1.5s ease forwards;
   font-size: 21px;
}

.userData__form {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   z-index: 1;
   top: 2rem;
}

.userData__form input {
   opacity: 0;
   padding: 0.5rem;
   border: 1px solid #333;
   border-radius: 0.25rem;
   width: 150px;
   height: 30px;
   animation-fill-mode: forwards;
}

.userData__form input:nth-child(1) {
   animation-delay: 0.25s;
}

.userData__form input:nth-child(2) {
   animation-delay: 0.5s;
}

.userData__form button {
   width: 100px;
   height: 35px;
   font-size: 14px;
   margin-top: 1rem;
   border: none;
   border-radius: 4px;
   background-color: #333;
   color: whitesmoke;
   cursor: pointer;
   transition: background-color 0.3s;
   animation-delay: 0.75s;
   animation-fill-mode: forwards;
   opacity: 0;
   &:hover {
      background-color: #555;
   }
}

@media (min-width: 360px) {

   @keyframes dataTitle {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-18dvh);
      opacity: 1;
   }
}

   .userData__container--ring {
      width: 330px;
      height: 330px;
      border: 5px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      position: absolute;
   }
   
   .userData__container--secondRing,
   .userData__container--thirdRing {
      width: 330px;
      height: 330px;
      border: 5px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      position: absolute;
      opacity: 0;
      transition: opacity 0.2s;
      background: conic-gradient(
         transparent 0deg 225deg,
         rgba(9, 0, 166, 0.9) 220deg 240deg,
         transparent 250deg 360deg
      );
      mask: radial-gradient(circle, transparent 68%, black 50.5%);
      z-index: 1;
   }
   
   .userData__title {
      font-weight: 400;
      color: #202020;
      animation: dataTitle 1.5s ease forwards;
      font-size: 23px;
   }
   
   .userData__form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      z-index: 1;
      top: 1rem;
   }
   
   .userData__form input {
      opacity: 0;
      padding: 0.5rem;
      border: 1px solid #333;
      border-radius: 0.25rem;
      width: 150px;
      height: 30px;
      animation-fill-mode: forwards;
   }
   
   .userData__form button {
      width: 102px;
      height: 37px;
      font-size: 14px;
   }
}

@media (min-width: 400px) {

      @keyframes dataTitle {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-23dvh);
      opacity: 1;
   }
}

   .userData__container--ring {
      width: 375px;
      height: 375px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }
   
   .userData__container--secondRing,
   .userData__container--thirdRing {
      width: 375px;
      height: 375px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }
   
   .userData__title {
      font-size: 25px;
      margin-top: 25%;
   }
   
   .userData__form {
      height: 150px;
      top: 1rem;
   }
   
   .userData__form input {
      width: 155px;
      height: 35px;
   }
   
   .userData__form button {
      width: 105px;
      height: 40px;
      font-size: 14px;
   }
}

@media (min-width: 400px) and (min-height: 720px) {

   @keyframes dataTitle {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-25dvh);
      opacity: 1;
   }
}

   .userData__container--ring {
      width: 375px;
      height: 375px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }
   
   .userData__container--secondRing,
   .userData__container--thirdRing {
      width: 375px;
      height: 375px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }

   .userData__title {
      font-size: 25px;
      margin-top: 32%;
   }

   .userData__form {
      height: 170px;
      top: 1rem;
   }
   
   .userData__form input {
      width: 165px;
      height: 40px;
   }
   
   .userData__form button {
      width: 105px;
      height: 42px;
      font-size: 15px;
   }
}

@media (min-width: 768px) {
   .userData__container--ring {
      width: 450px;
      height: 450px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }
   
   .userData__container--secondRing,
   .userData__container--thirdRing {
      width: 450px;
      height: 450px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }

   .userData__title {
      font-size: 27px;
   }
}

@media (min-width: 1024px) {

      @keyframes dataTitle {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-40dvh);
      opacity: 1;
   }
}

   .userData__container--ring {
      width: 500px;
      height: 500px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }
   
   .userData__container--secondRing,
   .userData__container--thirdRing {
      width: 500px;
      height: 500px;
      border: 6px solid rgba(255, 255, 255, 0.5);
   }

   .userData__form {
      height: 180px;
      top: 1rem;
   }
   
   .userData__form input {
      width: 175px;
      height: 40px;
   }
   
   .userData__form button {
      width: 105px;
      height: 42px;
      font-size: 15px;
   }
   
}

@media (min-width: 1366px) {
   .userData__container {
      width: 100dvw;
      height: 100dvh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #e6e6e6;
   }
   
   .userData__container--ring {
      width: 500px;
      height: 500px;
      border: 10px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      position: absolute;
      bottom: 4.5rem;
   }
   
   .userData__container--secondRing,
   .userData__container--thirdRing {
      width: 500px;
      height: 500px;
      border: 10px solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      position: absolute;
      bottom: 4.5rem;
      opacity: 0;
      transition: opacity 0.2s;
      background: conic-gradient(
         transparent 0deg 225deg,
         rgba(9, 0, 166, 0.9) 220deg 240deg,
         transparent 250deg 360deg
      );
      mask: radial-gradient(circle, transparent 68%, black 50.5%);
      z-index: 1;
   }
   
   .ringAnimation {
      animation: ringRotate 1000ms linear;
   }
   
   .ringAnimation--reverse {
      animation: ringRotate 1000ms linear reverse;
   }
   
   .userData__title {
      font-size: 2rem;
   }
   
   .userData__form {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
      height: 200px;
      z-index: 1;
      top: 1.5rem;
   }
   
   .userData__form input {
      opacity: 0;
      padding: 0.5rem;
      border: 1px solid #333;
      border-radius: 0.25rem;
      width: 200px;
      animation-fill-mode: forwards;
   }
   
   .userData__form input:nth-child(1) {
      animation-delay: 0.25s;
   }
   
   .userData__form input:nth-child(2) {
      animation-delay: 0.5s;
   }
   
   .userData__form button {
      width: 150px;
      height: 45px;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      border: none;
      border-radius: 4px;
      background-color: #333;
      color: whitesmoke;
      cursor: pointer;
      transition: background-color 0.3s;
      animation-delay: 0.75s;
      animation-fill-mode: forwards;
      opacity: 0;
      &:hover {
         background-color: #555;
      }
   }
   
}
