.logo__container {
   position: absolute;
   width: fit-content;
   display: flex;
   align-items: center;
   gap: 0.5rem;
   margin: 10px 0 0 20px;
   z-index: 1;
   cursor: pointer;
}

.logo__container h1 {
   font-size: 18px;
   letter-spacing: 0.5px;
   color: #999999;
   font-weight: 400;
}

.logo__container span {
   color: #202020;
   font-weight: 550;
}

.logo__container img {
   width: 26px;
   opacity: 0.6;
}

@media (min-width: 360px) {
   .logo__container h1 {
      font-size: 20px;
   }
   
   .logo__container img {
      width: 28px;
   }
}

@media (min-width: 400px) {
   .logo__container h1 {
      font-size: 21px;
   }
   
   .logo__container img {
      width: 30px;
   }
}

@media (min-width: 480px) {
   .logo__container h1 {
      font-size: 22px;
   }
   
   .logo__container img {
      width: 31px;
   }
}

@media (min-width: 768px) {
   .logo__container h1 {
      font-size: 26px;
   }
   
   .logo__container img {
      width: 37px;
   }
}

@media (min-width: 1024px) {
   .logo__container h1 {
      font-size: 24px;
   }
   
   .logo__container img {
      width: 30px;
   }
}

@media (min-width: 1366px) {
   
   .logo__container h1 {
      font-size: 25px;
   }
   
   .logo__container img {
      width: 34px;
   }
}

@media screen and (orientation: landscape) and (min-height: 320px) {
   .logo__container h1 {
      font-size: 16px;
   }
   
   .logo__container img {
      width: 21px;
   }
}

@media screen and (orientation: landscape) and (min-height: 400px) {
   .logo__container h1 {
      font-size: 17px;
   }
   
   .logo__container img {
      width: 22px;
   }
}

@media screen and (orientation: landscape) and (min-height: 480px) {
   .logo__container h1 {
      font-size: 19px;
   }
   
   .logo__container img {
      width: 24px;
   }
}