@keyframes fadeIn {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

@keyframes titleAnimation {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(0);
   }
   100% {
      transform: translateY(-25dvh);
      opacity: 1;
   }
}

.fadeIn {
   animation: fadeIn 1s ease-in-out;
}

.App {
   display: flex;
   overflow: hidden;
}
