@keyframes inEffect {
   0% {
      opacity: 0;
      transform: scale(0);
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.journeyClock__container {
   width: 100dvw;
   height: 100dvh;
   background-color: whitesmoke;
   display: flex;
   justify-content: center;
   align-items: center;
}

.journeyClock__title {
   position: absolute;
   font-weight: 400;
   color: #202020;
   animation: titleAnimation 1s 0.5s ease-out forwards;
   opacity: 0;
}

.journeyClock__subcontainer {
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 4.5rem;
   animation: inEffect 0.8s 2s ease-out forwards;
   opacity: 0;
}

.journeyClock__clock {
   position: absolute;
   width: 17rem;
   height: 17rem;
   border-radius: 50%;
   border: 4px solid #202020;
   display: flex;
   justify-content: center;
   align-items: center;
}

.journeyClock__clock--hours,
.journeyClock__clock--minutes,
.journeyClock__clock--seconds {
   position: absolute;
   top: 50%;
   left: 50%;
   border-radius: 5px;
   transform-origin: top;
   opacity: 0;
   animation: fadeIn 0.8s 2.8s ease forwards;
}

.journeyClock__clock--hours {
   width: 4px;
   height: 25%;
   background: #444444;
   position: absolute;
   transform: translateX(-50%) rotate(180deg);
}

.journeyClock__clock--minutes {
   width: 3px;
   height: 35%;
   background: #717171;
   transform: translateX(-50%) rotate(50deg);
}

.journeyClock__clock--seconds {
   width: 2px;
   height: 38%;
   background: #9c9c9c;
   transform: translateX(-50%) rotate(25deg);
}

.journeyClock__textA,
.journeyClock__textB {
   font-weight: 450;
   color: #717171;
   width: 350px;
   opacity: 0;
}

.journeyClock__text,
span {
   color: #e74c3c;
}

.journeyClock__textA {
   animation: textAnimationA 1s 2.5s ease-out forwards;
}

.journeyClock__textB {
   animation: textAnimationB 1s 2.5s ease-out forwards;
}
